.header {
    width: 100%;
    height: 70px;
    background-color: #f0f8ff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__headline {
        margin: 5px 15px;
    }

    &__button {
        margin: 5px;
    }
}