.alerting-setup {
    margin: 30px 30px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: 653px) {
        margin: 30px 7%;
    }
    &__inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        @media (min-width: 653px) {
            width: 400px;
        }
        .mat-checkbox {
            width: 100%;
            margin-bottom: 5px;
        }
        
        &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            width: 100%;
            margin: 15px 0;

            &__button {
                width: 100%;
                margin-right: 10px;
                height: 40px;
            }
        }
    }
}