.gitlab-setup {
    margin: 30px 30px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 653px) {
        margin: 30px 7%;
    }

    &__inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;

        @media (min-width: 653px) {
            width: 400px;
        }

        .mat-form-field {
            width: 100%;
            margin-bottom: 5px;
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: center;
            width: 100%;

            &__button {
                width: 100%;
                height: 40px;

                &--left {
                    margin-right: 10px;
                }
            }
        }

        &__token {
            margin-left: 20px;
            margin-top: 15px;
        }
    }
}

mat-spinner {
    margin: 30px;
}